body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #e6e6e6;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* размытый фон для внутренней страницы */

.inner-page {
  background-image: url("../img/background-photo-blur.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* убираю подчеркивание у всех ссылок на сайте */

a {
  text-decoration: none;
}

/* задаю стиль для кнопок */

.button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* кнопка открытия формы (коричневая) и кнопка забронировать на внутренней странице */

.button-open-form,
.button-booking {
  background-color: #766357;
}

.button-open-form:hover,
.button-open-form:focus,
.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-open-form:active,
.button-booking:active {
  background-color: #503e33;
}

/* кнопка отправки формы (синяя) и кнопка подробнее на внутренней странице */

.button-send-form,
.button-more-info {
  background-color: #81b3d2;
}

.button-send-form:hover,
.button-send-form:focus,
.button-more-info:hover,
.button-more-info:focus {
  background-color: #669ec0;
}

.button-send-form:active,
.button-more-info:active {
  background-color: #5496bd;
}

/* задаю стили для навигации по сайту */

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

/* убираю маркеры у списка */

.site-navigation {
  list-style: none;
}

/* задаю цвет ссылкам */

/* в обычном состоянии */

.site-navigation a {
  color: #000000;
}

/* при наведении и фокусе */

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

/* при нажатии */

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* добавляю фон для разделов с описанием города и его преимуществ */

.features {
  background-color: #ffffff;
}

/* добавляю стили для краткого описания города */

.features-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

/* задаю стили для заголовка преимуществ города */

.features h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* убираю маркеры у списков */

.features-list,
.features-list-add {
  list-style: none;
}

/* задаю расположение по середине */

.feature-item,
.feature-item-add {
  text-align: center;
}

/* задаю стили для заголовков каждого преимущества */

.feature-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

/* переопределяю стили для заголовков 1 и 2 преимуществ, цвет текста белый */

.feature-item:first-child h3,
.feature-item:nth-child(2) h3 {
  color: #ffffff;
}

/* задаю фон всех нумерованных преимуществ */

.feature-item {
  background-color: #eeeeee;
}

/* переопределяю фон и цвет текста для 1 и 2 преимущества */

.feature-item:first-child,
.feature-item:nth-child(2) {
  color: #ffffff;

  background-color: #81b3d2;
}

/* задаю фон для дополнительных преимуществ */

.feature-item-add {
  background-color: #ffffff;
}

/* для каждого дополнительного преимущества задаю свою фоновую картинку */

.feature-item-add:first-child {
  background-image: url("../img/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.feature-item-add:first-child + li {
  background-image: url("../img/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.feature-item-add:last-child {
  background-image: url("../img/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* задаю фон для раздела поиска гостиниц */

.appointment {
  text-align: center;

  background-color: #ffffff;
}

/* задаю стиль для заголовка */

.appointment h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;

  text-align: center;
}

/* задаю стиль для вводного текста */

.appointment-info {
  line-height: 24px;

  text-align: center;
}

/* задаю стили полям ввода в форме */

.search-item input {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* задаю стили надписям в форме */

.search-item label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  text-transform: uppercase;
}

/* задаю фон для карты */

.maps {
  background-color: #ffffff;
}

/* меняю цвет текста в форме */

.filter {
  color: #ffffff;
}

/* убираю обводку у тега fieldset */

.filter fieldset {
  border: none;
}

/* задаю параметры для тега legend */

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

/* убираю маркеры у списка фильтров */

.filter ul {
  list-style: none;
}

/* задаю фон для блока сортировки */

.sorting {
  background-color: #ffffff;
}

/* задаю стили для надписи */

.hotels-amount {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* задаю стили для заголовка */

.sorting h2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* убираю маркеры */

.sorting ul {
  list-style: none;
}

/* задаю стили для ссылок */

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-active a {
  color: #81b3d2;
  border-bottom: none;
}

/* стилизуем стрелки сортировки */

.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  display: inline-block;
  content: "";
  border: 22px solid #cacaca;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

/* задаю стили блоку с гостиницами */

/* фон для блока с гостиницами */

.hotels-search {
  background-color: #ffffff;
}

/* убираю маркеры у списка */

.hotels-list {
  list-style: none;
}

/* стили для заголовка */

.hotel-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/* задаю стили для ссылок в блоке гостиниц */

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* задаю стили для рейтинга гостиниц */

.hotel-rating {
  background-color: #f2f2f2;
}

/* задаю стили для подвала */

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.footer-copyright {
  text-align: center;
}
